# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
seguro0 = pd.read_csv(url)

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
seguro1 = pd.read_csv(url)

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
seguro2 = pd.read_csv(url)


seguro0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [ ]:
seguro0.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [3]:
seguro_concat = pd.concat([seguro0, seguro1, seguro2], axis = 1)

In [4]:
def clean_data(df):
    df = seguro_concat.drop_duplicates()
    df = seguro_concat.dropna()
    return df

# Limpiar el dataset combinado
df_cleaned = clean_data(seguro_concat)

print(df_cleaned)

    Customer          ST GENDER             Education Customer Lifetime Value  \
1    QZ44356     Arizona      F              Bachelor              697953.59%
2    AI49188      Nevada      F              Bachelor             1288743.17%
3    WW63253  California      M              Bachelor              764586.18%
4    GA49547  Washington      M  High School or Below              536307.65%
5    OC83172      Oregon      F              Bachelor              825629.78%
..       ...         ...    ...                   ...                     ...
991  KP18988      Oregon      F  High School or Below             2153133.28%
992  TI92884     Arizona      M              Bachelor             1262283.27%
993  JH73503     Arizona      M                Doctor             2017196.15%
994  YE97964        Cali      F              Bachelor             1646436.59%
995  VA30351      Oregon      F  High School or Below              559538.99%

      Income Monthly Premium Auto  Number of Open Complaints     Policy Type  \
1        0.0                 94.0                     1/0/00   Personal Auto
2    48767.0                108.0                     1/0/00   Personal Auto
3        0.0                106.0                     1/0/00  Corporate Auto
4    36357.0                 68.0                     1/0/00   Personal Auto
5    62902.0                 69.0                     1/0/00   Personal Auto
..       ...                  ...                        ...             ...
991      0.0                101.0                     1/0/00   Personal Auto
992  61844.0                106.0                     1/0/00   Personal Auto
993  24804.0                 73.0                     1/0/00   Personal Auto
994  27760.0                104.0                     1/0/00   Personal Auto
995  74454.0                 71.0                     1/0/00   Personal Auto

     Vehicle Class  ...       State Customer Lifetime Value  \
1    Four-Door Car  ...     Arizona             2502.637401
2     Two-Door Car  ...      Nevada             3265.156348
3              SUV  ...  California             4455.843406
4    Four-Door Car  ...  California             7704.958480
5     Two-Door Car  ...     Arizona             2750.705045
..             ...  ...         ...                     ...
991  Four-Door Car  ...  California            18611.453560
992     Sports Car  ...  Washington             2215.912948
993   Two-Door Car  ...  California             7780.903354
994            SUV  ...     Arizona             2860.864563
995  Four-Door Car  ...  California             5577.942343

                Education Gender Income Monthly Premium Auto  \
1                  Master      M      0                   66
2                Bachelor      F  25820                   82
3    High School or Below      F      0                  121
4    High School or Below      M  30366                  101
5                 College      M  51789                   70
..                    ...    ...    ...                  ...
991                Master      F  49673                  232
992               College      M      0                   66
993  High School or Below      F      0                   70
994  High School or Below      M  50332                   72
995              Bachelor      M  70190                   71

     Number of Open Complaints     Policy Type Total Claim Amount  \
1                            0   Personal Auto           3.468912
2                            0   Personal Auto         393.600000
3                            0   Personal Auto         699.615192
4                            2   Personal Auto         484.800000
5                            0   Personal Auto         336.000000
..                         ...             ...                ...
991                          0   Personal Auto        1021.654003
992                          0   Personal Auto         389.944994
993                          0   Personal Auto         504.000000
994                          0   Personal Auto         345.600000
995                          0  Corporate Auto          15.169017

     Vehicle Class
1     Two-Door Car
2    Four-Door Car
3              SUV
4              SUV
5    Four-Door Car
..             ...
991     Luxury SUV
992   Two-Door Car
993  Four-Door Car
994  Four-Door Car
995   Two-Door Car

[869 rows x 33 columns]

In [5]:
#Falta el segundo apartado

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [6]:
# Cargar el CSV
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
customer_demographics = pd.read_csv(url)

# Explorar el Csv
customer_demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [7]:
# Se crea la subtabla para ventas y beneficio obtenido por el canal
benefit = customer_demographics.pivot_table(values='total_claim_amount', index='sales_channel', aggfunc='sum')

# Se redondea
benefit['total_claim_amount'] = benefit['total_claim_amount'].round(2)

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [8]:
# se crea la subtabla
gen_edu = customer_demographics.pivot_table(values='total_claim_amount', index=['gender', 'education'])

gen_edu.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('F', 'Bachelor') to ('M', 'Master')
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   total_claim_amount  10 non-null     float64
dtypes: float64(1)
memory usage: 253.0+ bytes

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [9]:
# Your code goes here